:root {
  --primary-color: #BBA482;
  --secondary-color: #E9E9E9;
  --third-color: #900000;
  --fourth-color: #FFFFFF;
}

.login {
  width: 100%;
  height: 100vh;
  background: url("/login.svg");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.login img {
  margin: auto 30px;
}

.login .card {
  height: 60%;
  width: 30%;
  border-radius: 30px;
  background: #DFDFDF;
}

.login .card span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.login .card input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #D6D6D6;
  margin: 10px;
  padding-left: 6px;
}

.login .card button {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 33.5px;
  color: #fff;
  margin: 5px 0;
  background-color: #fff;
}

.login a {
  text-decoration: none;
}

.login .forgetKata {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  background: rgba(245, 230, 230, 0.4);
  backdrop-filter: blur(8px);
}

.login .forgetSandi {
  padding: 20px;
  background-color: #BBA482;
  color: #fff;
  width: 30%;
  border-radius: 10px;
  /* position: fixed;
  top: 35%;
  left: 35%; */
  /* z-index: 99; */
}

.login .forgetSandi span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.login .forgetSandi button {
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 45%;
  margin-top: 20px;
  color: #fff;
  background-color: #900000;
}

aside {
  width: 15%;
  height: 100%;
  background-color: var(--primary-color);
}

.tambah-arsip aside {
  width: 100%;
}

#sekretarisAdd aside {
  width: 15%;
}

aside section {
  padding-top: 10px;
}

aside .edit {
  border-radius: 10px;
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .edit p {
  margin: 0;
  font-size: 14px;
}

aside section,
aside section span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside section button {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--fourth-color);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asideIndex section button {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--fourth-color);
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

aside .logout {
  border-radius: 10px;
  background-color: var(--third-color) !important;
  border: none !important;
  color: var(--fourth-color);
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

aside a {
  width: 100%;
  padding: 0 10px;
  text-decoration: none;
}

.sekretaris,
.surat-masuk,
.buatSurat,
.tambah-arsip {
  width: 100%;
  height: 100vh;
}

.sekretaris article,
.surat-masuk article,
.buatSurat article,
.tambah-arsip article {
  width: 85%;
  height: 100vh;
}

.sekretaris table {
  width: 98%;
  margin: 20px 10px;
}

.surat-masuk table {
  width: 98%;
  margin: 0px 10px 20px;
  border: none !important;
}

.surat-masuk table tbody td,
.sekretaris table tbody td,
.sekretaris table thead th,
.surat-masuk table thead th {
  border: none !important;
}

.sekretaris thead th,
.surat-masuk thead th {
  background-color: #968368;
  color: var(--fourth-color);
  text-align: center;
  font-size: 15px;
}

.sekretaris tbody td,
.surat-masuk tbody td {
  text-align: center;
  background-color: var(--secondary-color);
  font-size: 13px;
}

.surat-masuk article button,
.sekretaris article button {
  border: none;
  background-color: var(--primary-color);
  color: var(--fourth-color);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.surat-masuk article a {
  text-decoration: none;
}

.surat-masuk .buatSurat {
  width: 105px;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  font-size: 14px;
  background-color: #900000;
  color: #FFF;
  margin: 0;
}

.popup-content span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;

}

.popup-content span input {
  width: 60%;
}

.tambah-arsip .sidebar .buttonAside {
  display: none;
}

.tambah-arsip .inputUser,
.tambah-arsip form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.tambah-arsip .inputUser p {
  width: 30%
}

.tambah-arsip article section {
  width: 70%;
  margin-top: 20px;
}

.tambah-arsip article input,
.tambah-arsip article select {
  width: 70%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: transparent;
  padding: 0 15px;
  display: flex;
}

.tambah-arsip article span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tambah-arsip article button {
  width: 49%;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  color: var(--fourth-color);
}

/* Add this CSS to your stylesheets */
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(34, 37, 39, 0.8);
  z-index: 999;
}

.popup-content {
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  width: 400px;
  padding: 20px;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90vh;
  background-color: var(--secondary-color);
  z-index: 9999;
}

.popup button {
  background-color: var(--third-color);
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 10px;

}

.popup button:hover {
  background-color: #1a2328;
}

.popup-content .button-edit button {
  width: 30%;
}

.popUpUser {
  background: url("/login.svg");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.popUpUser .popup-content {
  height: fit-content;
  padding: 40px 20px;
}

.navbars {
  text-decoration: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
  display: none;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.navbars a {
  width: 20%;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.navbars span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.navbars p {
  font-size: 14px;
  margin: auto;
}

.sekretaris .title-mobile,
.tambah-arsip .title-mobile {
  width: 100%;
  display: none;
  margin-bottom: 20px;
  color: #fff;
}

.sekretaris .imgProfile,
.tambah-arsip .imgProfile {
  display: none;
  color: #fff;
}

.homeSekretaris article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.homeSekretaris .moskov {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.homeSekretaris .moskov img {
  height: fit-content;
}

.homeSekretaris .konten a {
  text-decoration: none;
  width: 45%;
}

.homeSekretaris .konten {
  width: 70%;
  margin-top: 30px;
  text-align: center;
}

.homeSekretaris .konten button {
  width: 100%;
  justify-content: center;
}

.pops .popup-content {
  height: fit-content !important;
  padding: 10px;
}

@media print {
  .template {
    margin: 0;
    width: 8.5in;
    height: 12in;
    margin: auto;
    /* padding: 1in; */
    margin-top: 0;
    padding-top: 0;
  }

  .print-button {
    display: none;
  }
}

.template h1,
h4,
h5,
h6 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.template .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.template .hr1 {
  border: 2px solid black;
  height: 4px;
  width: 100%;
  background: #000;
  margin: 0;
}

.template .hr2 {
  border: 0.3px solid #333;
  height: 0.3px;
  width: 100%;
  background: #333;
  margin: 0;
}

.template .footer {
  width: 100%;
  justify-content: space-around;
  height: 150px;
  margin-top: 40px;
}

.template .pembuka,
.template .penutup {
  text-align: justify;
}

.template p {
  margin: 4px 0;
  font-size: 14px;
}

.template .footer p {
  margin: 0;
  text-align: center;
}

.template .footer span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.template .footer .names p {
  text-align: left;
  padding-left: 20px;
}

.template .title {
  width: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
}

.template .print-button {
  border: none;
  margin: 0 10px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 3%;
  background-color: rgb(101, 208, 101);
}

.template .kopHead p,
.template .suratPindah p {
  margin: 0;
  font-size: 14px;
}

.template .suratPindah h6 {
  text-align: left;
  margin: 10px 0;
}

.template .suratKepindahan span {
  display: flex;
}

.template .tablesForm table {
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

.template .tablesForm table,
th,
td {
  border: 1px solid black;
  font-size: 12px;
  color: #000;
}

.template table thead th {
  color: #000;
}

.template table th {
  text-align: center;
}

.template .spanUpper p,
.template .suratPindah .spanUpper {
  text-transform: uppercase;
}

.template .spanUpper td p {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.template .namaUpper {
  text-transform: uppercase;
}

.buatSurat .inputanUsers {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.buatSurat .inputanUsers span {
  display: flex;
  flex-direction: column;
}

.buatSurat .inputanUsers span textarea,
.buatSurat .inputanUsers span select,
.buatSurat .inputanUsers span input {
  margin: 7px 0;
  height: 27px;
  width: 150%;
  border-radius: 5px;
  border: 1px solid black;
}

.buatSurat .inputanUsers span h4,
.buatSurat .inputanUsers span p {
  margin: 10px 0;
  font-size: 14px;
}

.buatSurat .buttonBuatSurat {
  margin-left: 30px;
}

.buatSurat .buttonBuatSurat button,
.buatSurat .buttonBuatSurat a button,
.buatSurat .buttonBuatSurat a {
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: #27323A;
  color: #fff;
  font-weight: 500;
  height: fit-content;
  width: 20%;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.buatSurat .buttonBuatSurat a button {
  width: 100%;
  margin: 0;
  padding: 0;
}

.buatSurat h1 {
  text-align: center;
}

.buatSurat .buttons {
  margin: auto;
  padding: 20px;
}

.buatSurat .buttons button {
  width: 400px;
  height: 100px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.buatSurat .buttons button:hover {
  background-color: #900000;
  scale: 1.1;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .login .card {
    width: 80%;
  }

  .login img {
    margin: auto;
  }

  .login .forgetSandi {
    width: 85%;
    margin: auto;
  }

  .login .forgetSandi p {
    font-size: 12px;
    margin: auto;
  }

  /* .login .forgetSandi p, */
  .login .forgetSandi input {
    width: 60%;
  }

  .sekretaris aside,
  #sekretarisAdd aside,
  .buatSurat aside,
  .surat-masuk aside {
    display: none;
  }

  .tambah-arsip aside {
    position: fixed;
    width: 50%;
  }

  .tambah-arsip aside .identify {
    display: none;
  }

  .tambah-arsip .sidebar .buttonAside {
    display: block;
    position: fixed;
    width: 25px;
    border-radius: 0px 10px 10px 0px;
    height: 100px;
    top: 20%;
    border: none;
    left: 0%;
    z-index: 4;
    background-color: #900000;
  }

  .tambah-arsip .sidebar .buttonAside p {
    writing-mode: vertical-rl;
    transform-origin: right bottom;
    margin: 25px auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }

  .tambah-arsip .sidebar .hiddenAdd {
    width: 15px;
  }

  .hiddenAdd.buttonAside p {
    display: none;

  }

  .tambah-arsip .sidebar .hiddenAdd.buttonAside {
    left: 50%;

  }

  .tambah-arsip .sidebar .hidden {
    display: none;
  }

  .sekretaris article,
  .surat-masuk article,
  .buatSurat article,
  .tambah-arsip article {
    width: 100%;
  }

  .tambah-arsip .mobileInput {
    width: 60% !important;
  }

  .navbars {
    display: block;
  }

  .sekretaris table {
    margin: 0 10px 70px 0;
  }


  .surat-masuk .button-arsip button {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 7%;
    right: 1%;
  }

  .surat-masuk .button-arsip svg {
    /* margin: auto; */
    margin-left: 1rem;
  }

  .surat-masuk .button-arsip button p {
    display: none;
  }

  .tambah-arsip form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .tambah-arsip article section {
    width: 90%;
    margin-top: 40px;
  }

  .tambah-arsip article input,
  .tambah-arsip article select,
  .tambah-arsip article select {
    width: 60%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: transparent;
    padding: 0 15px;
    display: flex;
  }

  .popup {
    z-index: 999;
  }

  .sekretaris .title-mobile,
  .tambah-arsip .title-mobile {
    background-color: #968368;
    display: block;
  }

  .sekretaris .imgProfile,
  .tambah-arsip .imgProfile {
    display: block;
  }

  .title-mobile button {
    width: 40px;
    padding: 7px !important;
    margin: 0 !important;
    background-color: var(--third-color) !important;
  }

  .buatSurat .inputanUsers {
    margin: auto 0;
    width: 100%;
  }

  .buatSurat .inputanUsers span {
    width: 50%;
  }

  .buatSurat .inputanUsers input,
  .buatSurat .inputanUsers textarea,
  .buatSurat .inputanUsers select {
    width: 100% !important;
  }

  .buatSurat .buttonBuatSurat {
    margin-left: 5px;
    margin-top: 20px;
  }

  .buatSurat .buttonBuatSurat button,
  .buatSurat .buttonBuatSurat a button,
  .buatSurat .buttonBuatSurat a {
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #27323A;
    color: #fff;
    font-weight: 500;
    height: fit-content;
    width: 40%;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  .buatSurat .buttonBuatSurat a button {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}